# Dependencies
node_modules/

# Build outputs
dist/
.vitepress/cache/
.vitepress/dist/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Env
.env
.env.local
.env.*.local
